<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="g6EaCp776BuXUIzQ9vgs9pArmAeHT-Yo0E6kxSFN0l4" /> 
	<meta name="description" content="Free, online screenplay software. Windows, Mac, and Linux. Edit from any computer, share from your phone, take control of your scripts." /> 
	<title>RawScripts.com - Blog</title>
	<link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen" />
	<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
	{% include "analytics.html" %}
	<div id="content">
		<div id="logo">
			<h1><a href="/">RawScripts.com</a></h1>
		</div>
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li class="current"><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="http://www.rawscripts.org" target="_blank">Source Code</a></li>
		</ul>
		<div class="line"></div>
		<div id="rss" style="float:right">
			<a href="http://feeds.feedburner.com/Rawscripts"><img src="/images/feed.png" alt="Subscribe RSS from Feedburner"> Subscribe</a>
		</div>
		{{  error_message  }}
		<div id="blog">
			<div class="feed">
				<ul>
	            {% for i in r %}
	                <li>
	                	<span class="headline"><a href="{{  i.link  }}">{{  i.title  }}</a></span>
						<p class="date">{{i.timestamp|date:"M d, Y"}}</p>
						<div class="data">{% autoescape off %}{{i.data}}{% endautoescape %}</div>
	                </li>
	            {% endfor %}
	            </ul>
			</div>
		</div>
		<div id="footer">
			<p>&copy; Copyright 2010 - RawScripts.com | <a href="/tos" onclick="window.open(this.href, 'popupwindow', 'width=500,height=500,scrollbars,resizable'); return false;">Terms of Use</a></p>
		</div>
	</div>
</body>
</html>
