<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="g6EaCp776BuXUIzQ9vgs9pArmAeHT-Yo0E6kxSFN0l4" /> 
	<meta name="description" content="Free, online screenplay software. Windows, Mac, and Linux. Edit from any computer, share from your phone, take control of your scripts." />
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
	<link rel="shortcut icon" href="/favicon.ico">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script> 
		function sendEmail(){
			if(document.getElementById('message').value==''){
				return;
			}
			document.getElementById('send').disabled = 'true';
			document.getElementById('send').value = 'Sending...';
			$.post('/contactemail', {name : document.getElementById('name').value , subject : document.getElementById('subject').value , message : document.getElementById('message').value}, function(){emailComplete()});
		}
		function emailComplete(){
			document.getElementById('name').value = '';
			document.getElementById('subject').value = '';
			document.getElementById('message').value = '';
			document.getElementById('send').value = 'Send';
			document.getElementById('send').disabled = false;
			alert("Message Sent");
		}
		function hideSentPopup(){
			document.getElementById('sentPopup').style.visibility = 'hidden';
		}
		</script>
	<title>RawScripts - Contact</title>
</head>
<body>
	{% include "analytics.html" %}
	<div id="content">
		<div id="logo">
			<h1><a href="/">RawScripts.com</a></h1>
		</div>
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li class="current"><a href="/contact">Contact</a></li>
			<li><a href="http://www.rawscripts.org" target="_blank">Source Code</a></li>
		</ul>
		<div class="line"></div>
		<div class="third">
			<h3>Send A Message</h3><br><br><br>
			Your Name or Email <br> 
				        <input id="name" type="text" /><br> 
				        Subject<br> 
				        <input id="subject" type="text" /><br> 
				        Message<br> 
				        <textarea id="message" cols="40" rows="10"></textarea><br> 
				        <input id="send" type="button" value="Send" onClick="sendEmail()" />
		</div>
		<div class="third last" style="margin-left:100px">
			<h3>Or Not</h3>
			<p>You can always email us at contact@rawscripts.com. Or post a message at the <a href="http://community.rawscripts.com/RawScripts" target="_blank">forum</a>.</p>
		</div>
		<div id="footer">
			<p>&copy; Copyright 2010 - RawScripts.com | <a href="/tos" onclick="window.open(this.href, 'popupwindow', 'width=500,height=500,scrollbars,resizable'); return false;">Terms of Use</a></p>
		</div>
	</div>
</body>
</html>
