<script src="/static/js/jquery/jquery-1.7.1.min.js"></script>
<script src="/static/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
<script src="/static/js/project.js"></script>
<script src="/static/js/utils.js"></script>
<link rel="stylesheet" href="/static/css/header_nav.css" type="text/css">
<link rel="stylesheet" href="/static/css/common.css" type="text/css">
<link rel="stylesheet" href="/static/css/jquery-ui/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" /> 
