<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="g6EaCp776BuXUIzQ9vgs9pArmAeHT-Yo0E6kxSFN0l4" /> 
	<meta name="description" content="Free, online screenplay software. Windows, Mac, and Linux. Edit from any computer, share from your phone, take control of your scripts." /> 
	 <title>RawScripts.com - Login Required</title>
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
	<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
	{% include "analytics.html" %}
	<div id="content">
		<div id="logo">
			<h1><a href="/">RawScripts.com</a></h1>
		</div>
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="http://www.rawscripts.org" target="_blank">Source Code</a></li>
		</ul>
		<div class="line"></div>
		<div id="pitch_alt">
			<div style="width:500px; float:left; margin-right:60px;">
				<p>Hey, to get to that script, you'll have to login.</p><br><br>
				<h1>Login with your <a href="{{  google_sign_in  }}"><img src="images/GoogleB.png" alt="Login with your Google Account"/></a> or <a href="{{  yahoo_sign_in  }}"><img src="images/YahooB.png" alt="Login with your Yahoo Account"/></a> account.</h1>
			</div>
		</div>	
		<div id="footer">
			<p>&copy; Copyright 2010 - RawScripts.com | <a href="/tos" onclick="window.open(this.href, 'popupwindow', 'width=500,height=500,scrollbars,resizable'); return false;">Terms of Use</a></p>
		</div>
	</div>
</body>
</html>
