<div id='header_nav'>
  {%- if t.user %}
  <b id="user">{{  t.user  }}</b> | 
  {% endif %}
  <a href="/">Home</a> | 
  <a href="/contact" target="_blank">Contact</a>  | 
  {%- if t.user %}
  <a href="/settings">Settings</a> |  
  {% endif %}
  <a href="http://www.rawscripts.org" target="_blank">Download Source</a> | 
  {%- if t.user %}
  <a href="/logout">Sign Out</a>
  {% endif %}
</div>
