<!DOCTYPE html> 
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--<script src="js/jquery.min.js" type="text/javascript"></script>
  <script src="js/restricted/revisionhistory.js" type="text/javascript"></script>
  <script src="js/json2.min.js" type="text/javascript"></script>-->
  <script type="text/javascript" src="js/min/revisionhistory.js"></script>
<link rel="shortcut icon" href="/favicon.ico">
<title>RawScripts - Revision History</title>
  <style>
  body{padding:0; margin:0;height:100%;}
  html{height:99%; margin:0; padding:0;}
  .TEXT{
    background-color:white;
  }
  .toolBar{
    font-family:sans-serif; 
    font-size:10pt;
    float:left; 
    background-color:#A2BAE9; 
    width:100%;
    border-top:2px #000 solid;
  }
  .sceneItem{font-family:Courier; font-size:10pt;margin: 0px 0px 0px 10px; cursor:pointer;}
  #header{padding:0px;}
  #titleBar{
    height:30px;
  }
  #toolBar{
  }
  .menuItem{
    float:left;
    margin-top:0px;
    padding: 4px 7px 4px 7px;
    cursor:pointer;
  }
  .hl{
    height:7px;
    width:100%
    border:1px #000 solid;
    color:blue;
  }
  #title{
    font-size:18pt;
    padding:6px;
    text-shadow: 1px 1px 1px #999;
    float:left;
  }
  .TEXT{  
  font-size:10pt;  
  background-color:white; 
  border-style:inset; 
  border-width:2px;
  font-family:Verdana, Geneva, sans-serif;
  width:400px;
}
    #sidebar{
        background-color:#ccc;
        border-right:2px ridge;
    }
.s{
    font-family:Courier;
    font-size:10pt;
    margin:0 0 15px 0;
    text-transform:uppercase;
    width:500px;
}
.a{
    font-family:Courier;
    font-size:10pt;
    margin:0 0 15px 0;
    width:500px;
}
.c{
    font-family:Courier;
    font-size:10pt;
    margin:0 0 0 170px;
    text-transform:uppercase;
}
.d{
    font-family:Courier;
    font-size:10pt;
    margin:0 0 15px 90px;
    width:280px;
}
.p{
    font-family:Courier;
    font-size:10pt;
    margin:0 0 0 125px;
}
.t{
    font-family:Courier;
    font-size:10pt;
    margin:0 0 15px 450px;
    text-transform:uppercase;
}
ins{
    background-color:#67e667;
    text-decoration:none;
}
del{
    background-color:#ff7373;
    text-decoration:none;
}
hr{
    margin: 100px 0;
}
.autosave{
    display:none;
    
}
.manualsave td{
    border-top:1px #666 solid;
    border-bottom:1px #666 solid;
    background-color:#A2BAE9;
}
.copy{
    visibility:hidden;
    background-color:#ccc;
}
.data{
    display:none;
}
  </style>
  </head>
<body onload="setup()" onpaste="var pasting=true; var t=setTimeout('paste()',50);" oncut="var t=setTimeout('cut()',50)">
	{% include "analytics.html" %}
<div id="exportpopup" style="visibility:hidden; position:absolute; width:100%; height:100%; top:0; left:0;  z-index:100"> 
	<div id="fade" style="background:#fff; opacity:0.5; height:100%; width:100%; position:fixed"></div> 
	<div class="popup_block" style="background:#7694D8; width:400px; position:relative; margin:auto; top:20%; padding:10px; border:double"> 
		<div class="popup"> 
			<a href="javascript:hideExportPrompt()" style="color:#333">Close</a> 
			<br /> 
			<p>Export as...</p> 
			<input class='exportList' type="checkbox" checked='true' name="pdf" style="margin-left:5px; margin-right:10px" />   Adobe Pdf<br> 
			<input class='exportList' type="checkbox" name='txt' style="margin-left:5px; margin-right:10px" />   txt file for Celtx or FD
			<br /> <br>
            <select id="et">
                <option>Without title Page</option>
                <option>With title Page</option>
            </select>
            <a id="edit_title_href" href="#" target="_blank">Edit Title Page</a>
            <br><br>
			<input type='button' id="exportS" onClick='exportScripts()' value='Export' /> 
			
            <br /> 
		</div> 
	</div> 
</div>

  <div id='container' style="width:100%; height:100%; margin:0; padding:0">
  <div id='header' style="width:100%; height:40px; background-color:#6484df">
    <div id="titleBar">
      <div id="title">Draft History: {{ title }}</div>
      <div style="float:right; margin:5px 10px 0 0;" id="user">{{  user  }} | <a href="{{  sign_out  }}">Sign Out</a></div>
    </div>
  </div>
  <div id="sidebar" style="position:absolute; top:40px; left:0; width:500px; float:left; overflow:auto">
    <div style="margin-left:15px;">
    <br>
        <span style="background-color:#A2BAE9; width:110px; border-top:1px #666 solid; border-bottom:1px solid #666">Manual Saves</span><br>
        
        <input type="checkbox" id="saveToggle" checked onchange="toggleAutosave(this.checked)" /> Hide AutoSaves<br><br>
        <select id="sel" onchange="compareToggle(this.selectedIndex)">
            <option>Compare two past drafts</option>
            <option>View one previous draft</option>
        </select>
    </div>
    <table id='ta' cellspacing=0 cellpadding=3 style="margin-left:20px;">
            <tr>
                <th></th>
                <th class='compare'></th>
                <th>Ver.</th>
                <th>Time Stamp</th>
                <th>Emailed</th>
                <th class="data">Emailed</th>
                <th>Tag</th>
                <th class="data">Tag</th>
                <th class="data">Edit</th>
                <th class="data">copy</th>
            </tr>
            <tbody id='tb'>
            {% for i in r %}
                <tr id="{{ resource_id }}" class="{{ i.s }}">
                    <td align="center" class="viewScript"><input value="1{{  i.version  }}" type='radio'></td>
                    <td class="compare" align="center"><input value="2{{  i.version  }}" type='radio'></td>
                    <td align="center">{{  i.version  }}</td>
                    <td align="center">{{  i.updated  }}</td>
                    <td class="emailedExported">{{  i.e  }}</td>
                    <td class="data">{{  i.export  }}</td>
                    <td class="tagCell">{{  i.t  }}</td>
                    <td class="data">{{  i.tag  }}</td>
                    <td id="{{  i.version  }}" class="copy" align="center"><a href="javascript:editTag({{  i.version  }})">Edit Tag</a> | </td>
                    <td id="{{  i.version  }}" class="copy" align="center"><a href="javascript:copyThisVersion({{  i.version  }})">Copy to new script</a></td>
                </tr>
            {% endfor %}
            </tbody>
            
    </table>
  </div>
  <div id="script" style="position:absolute; top:65px; right:0; width:250px; float:left; overflow:auto">
    <div id="key" style="position:fixed; right:20px; top:70px;">
        <span style="background-color:#67e667; font-family:Courier; font-size:10pt">Inserted Text</span><br>
        <span style="background-color:#ff7373; font-family:Courier; font-size:10pt">Deleted Text</span><br>
        <select id="con" onchange="javascript:context()">
            <option>Show Full Script</option>
            <option>Only show Differences</option>
        </select><br>
		<span id="loading" style="font-family:Courier; font-size:10pt; display:none"><img src="images/revision_loading.gif" alt="Loading">Loading...</span>
    </div>
    <div id='scriptcontent' style="width:520px; margin:auto; margin-top:35px;"></div>
  </div>
  </div>
</body>
</html>
