<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>RawScripts - Scriptlist</title>
		<link rel="shortcut icon" href="/favicon.ico">
		{%- include "core_dependencies.html"%}
		<script src="static/js/restricted/scriptlist/scriptlist.js"></script>
		<script src="static/js/restricted/scriptlist/folders.js"></script>
		<link rel="stylesheet" href="static/css/scriptlist.css" type="text/css">
	</head>
	<body>
	{%- include "analytics.html" %}
	<div id="header">
		<div id="logo"> 
			<h1>RawScripts.com</h1> 
		</div>
		<div id="ERROR" class="ui-state-error ui-corner-all">
		  <p>
		    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		    <strong>Error:</strong> <span id="error_msg">There has been an error and you should really work on that</span>
		  </p>
		</div>
		{%- include "nav.html" %}
		<div id="option_bar">
			<div id="static_buttons">
				<button type="button" onClick="new_project_prompt()">New Project</button>
				<button type="button" onClick="upload_prompt()">Upload</button>

				<button type="button" onClick="renamePrompt()">Rename</button>
				<button type='button' onClick="export_prompt()">Export</button>
				<button id="remove_projects_from_trash" type="button" onClick="remove_projects_from_trash()">Remove from Trash</button>
				<a id="refresh" href="javascript:refreshList()"><img id="refresh_icon" src="static/images/refresh_icon.gif" alt="Refreshing Screenplay List">Refresh</a>
			</div>
		</div>
	</div>


	
	<div id="main">
		<div id="folders_column">
			<div id="ownedFolder" class="folder folder-current">My Scripts</div>
			<div id="sharedFolder" class="folder">Shared With Me</div>
			<div id="trashFolder" class="folder">Trash</div>
			<div id="user_folders">
			  <button type="button" onClick="new_folder_prompt()" id="new_folder">New Folder</button>
			</div>
		</div>

		<div id="scriptlists">
		  <div id="scriptlist_container">
				<table id="scriptlist_header" width="100%">
					<tr>
					  <td style="width:9px"></td>
						<td style='width:15px;'><input id='select_all' type='checkbox' onClick='select_all(this)' /></td>
						<td>My Scripts</td>
						<td class="folderCell" align="center">Folder</td>
					  <td class="actionCell" align="right"></td>
						<td style="width:160px" align="center">Last Modified</td>
					        <td style="width:11px" align="center"></td>
					</tr>
				</table>
				<div id="list"></div>
				<div id="loading"><div align="center">Loading...</div></div>
				<div id="noentries" class="none_of_type" align="center">
					<span>You haven't started any scripts yet.</span><br><br>
					<a href="javascript:new_project_prompt()">Start a new script</a> or <a href="javascript:upload_prompt()">Upload an existing one</a> now.
				</div>
		  </div>
		</div>
	</div>
</body>
</html>
