<html>
<head>
	<style type="text/css" media="screen">
		img{
			padding:3px 5px 3px 5px;
			background-color:#6490E6;
		}
		body{
				font-family:sans-serif;
				font-size:11pt;
				padding:15px;
			}
			#logo { 
				background: url(../images/bluebg.png) repeat-x; 
				padding: 30px 15px 5px; 
				margin: -46px 0 0px; 
				-webkit-box-shadow:0px 3px 6px #666;
				-moz-box-shadow:0px 3px 6px #666;
				box-shadow:0px 3px 6px #666;
			}
			#logo h1 { text-shadow: 1px 1px 1px #003399; font-family:Courier; }
			a { text-decoration: none; }
			h1 { font-size: 1.4em; font-weight: normal; }
			h1 a { color: #fff; font-size: 1.6em; }
	</style>
</head>
<body>
	{% include "analytics.html" %}
<div id="header" > 
	<div align='center' id="logo"> 
		<h1><a href="/">RawScripts.com</a></h1> 
	</div>
</div><br>
<div id="content">
<h2>Sync With Your {{  domain  }} Contacts</h2>
<table width="100%">
	<tr>
		<td width='50%'>By logging in, and granting access, you can sync your {{  domain  }} Contacts with your RawScripts account.</td>
		<td width='50%' align="center"><h3>Login</h3><a href='{{ auth_url }}'><img src="images/{{  domain  }}_login.png"></a></td>
	</tr>
</table>

</div>
</body>
</html>
