<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



</head>
<body>
	{%- include "analytics.html" %}
Upload Complete!
<p style="width:300px;">If you don't see the new script, you may need to allow popups for this site.</p>
<a href="editor/{{t.project_id}}/{{t.resource_id}}" target="_blank">Go to the script</a>
<script>
window.onload = function(){
        var win = window.parent;
                win.postMessage(
                        '{{ t.project_id }}/{{ t.resource_id }}',
                        '{{t.url}}'
                );
};
</script>
</body>
</html>
