<!DOCTYPE html>
<head>
<script>
function post(){
	var win = window.parent;
    win.postMessage('uploading', '{{ t.URL }}');
}
function titleChange(){
	var filename = document.getElementById('file').value;
	var arr = filename.split('.');
	if (arr[arr.length-1]!='celtx' && arr[arr.length-1]!='txt' && arr[arr.length-1]!='fdx'){
		document.getElementById('warning').style.display = 'block';
		document.getElementById('submit').disabled = true;
		return;
		}
	document.getElementById('warning').style.display = 'none';
	document.getElementById('submit').disabled = false;
	var title = filename.replace('.celtx', '');
    title = title.replace('.txt', '');
	title = title.replace('.fdx', '');
	document.getElementById('hidden').value = title;
    var ff = arr[arr.length-1];
    document.getElementById('ff').value = ff;
	}

</script>
</head>
<body style="padding:0; margin:0;">
	{%- include "analytics.html" %}
<p>Upload a .fdx, .celtx, or a .txt file (<a href="/uploadhelp" onclick="window.open(this.href, 'popupwindow', 'width=450,height=500,scrollbars,resizable'); return false;">?</a>)</p>
<p id="warning" style='display:none; background-color:salmon'><b>We can only accept .fdx, .celtx or .txt files at the moment</b></p>
<form onSubmit="post()" id='target' method="post" enctype="multipart/form-data" action="/upload">

<input id="hidden" type="hidden" value="blank" name="filename">
<input id='ff' type="hidden" value="blank" name="ff">

<input id="file" name="screenplay" type="file" onChange="titleChange()">

<br>
<input id='submit' disabled='true' type="submit" value="Upload">

</form>
</body>
</html>
