<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="google-site-verification" content="g6EaCp776BuXUIzQ9vgs9pArmAeHT-Yo0E6kxSFN0l4" /> 
	<meta name="description" content="RawScripts is free online screenplay writing software. Write and collaborate on scripts from anywhere and any time. Easily organize Notes to make the best screenplay possible." /> 
	 <title>RawScripts.com - Free Online Screenplay Software</title>
	<link rel="stylesheet" type="text/css" href="static/css/screen.css" media="screen" />
	<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
	{% include "analytics.html" %}
	<div id="content">
		<div id="logo">
			<h1><a href="/">RawScripts.com</a></h1>
		</div>
		<ul id="menu">
			<li class="current"><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="http://www.rawscripts.org" target="_blank">Source Code</a></li>
		</ul>
		<div class="line"></div>
		<div id="pitch">
			<div style="width:490px; float:left; margin-right:60px;">
				<p>RawScripts is online screenwriting software. Scripts are private, secure and accessible from any computer. Nothing to install. You can <a href='/editor?resource_id=Demo' target="_blank">try out the application</a>, or login with your Google or Yahoo account and get working on your screenplay.</p>
				<div id='login'>
					<h2>Sign in</h2>
  <form action="/login" method=post>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <p>
      OpenID:
      <input type=text name=openid size=30 value='https://www.google.com/accounts/o8/id'>
      <input type=submit value="Sign in">
      <input type=hidden name=next value="{{ next }}"><br>
	  {% if t.MODE == "DEV" %}
	<input type="checkbox" name=admin /><label>admin</label>
	{% endif %}
  </form>
				</div>
			</div>
			<div style="float:left" align="center">
				<a href="/editor?resource_id=Demo" target="_blank"><img src="static/images/editor.png" alt="Click To Try The Online Application"></a><br>
				<a href="/editor?resource_id=Demo" target="_blank"><span class="h2_span">Click To Try The Online Application.</span></a>
			</div>
		</div>	
		<div class="third">
			<h3>No New Usernames and Passwords</h3>
			<p>We try to make it simple. If you have a Google or Yahoo account, just click the button, and sign in. No new names, no registering, just start writing.</p>
		</div>
		<div class="third">
			<h3>All in the Browser</h3>
			<p>Nothing to download, nothing to install. Just login and start typing in seconds. And because everything is online, you have your scripts, your notes, and a complete draft history from any computer. Your home desktop, your travel laptop, even your smartphone.</p>
		</div>
		<div class="third last">
			<h3>Simple Import/Export</h3>
			<p>Have scripts started in different software? Easily upload them with formats preserved. You can import all your old scripts in seconds.</p><p>Done with RawScripts? We don't want to keep your files hostage. We make it very easy to get your scripts out and back into Final Draft, Celtx, or any other screenwriting software.</p>
		</div>
		<div id="footer">
			<p>&copy; Copyright 2010 - RawScripts.com | <a href="/tos" onclick="window.open(this.href, 'popupwindow', 'width=500,height=500,scrollbars,resizable'); return false;">Terms of Use</a></p>
		</div>
	</div>
</body>
</html>
