<!DOCTYPE html> 
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		{%- if t.MODE == 'DEV' %}
			<link rel="stylesheet" href="/static/css/editor.css" /> 
			{%- for file in t.EDITOR_CSS %}
			<link rel="stylesheet" href="/static/closure-library/closure/goog/css/{{ file }}.css" /> 
			{%- endfor %}
		{%- else %}
			<link rel="stylesheet" href="/static/css/min/editor-all.css" /> 
		{%- endif %}
		{%- include "core_dependencies.html"%}
		<link rel="shortcut icon" href="/favicon.ico">
		<script type="text/javascript" charset="utf-8">
		var EOV='{{ t.EOV }}';
		var resource_id='{{ t.resource_id }}';
		var project_id='{{ t.project_id }}'
		var titlepage_resource_id='{{ t.titlepage_resource_id }}'
		</script>
	</head>
	<body onload="init()" onpaste="var pasting=true; var t=setTimeout('paste()',50);" oncut="var t=setTimeout('cut()',50)">
	{%- include "analytics.html" %}
	<div id="loading" class="fullscreen_popup">
		<div class="fade"></div>
		<div class="popup_block">
			<div id='loadingpopup' class="popup">
				<br>
				<table width='100%' cellpadding='10' cellspacing='10'>
					<tr><td align='center'><span id="loading_span">Loading...</span></td></tr>
					<tr><td align='center'><img src="/static/images/uploading.gif"></td></tr>
				</table>
			</div>
		</div>
	</div>
		<div id='header'>
			<div id="titleBar">
				<div id="title" title="Rename">Screenplay Editor</div>
				{%- include "nav.html" %}
			</div>
			<div id="toolBar">
				<table id="menu" cellpadding='0' cellspacing='0' width="100%">
					<tr>
						<td id='file' class="menuItem">File</td>
						<td id='edit' class="menuItem">Edit</td>
						<td id='view' class="menuItem">View</td>
						<td id='share' class="menuItem">Share</td>
						<td width=100%></td>
						<td align="right"><input id="saveButton" disabled='true' type="button" value="Save" onclick="save(0)" /></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="main">
		  <div id="editor">
		  <div id='gtb' clear="both" class='goog-toolbar'>
		    <div class="goog-toolbar-button" id='toolbarNew'><img src="/static/images/new_file.png" alt="Create New Screenplay"></div>
		    <div class="goog-toolbar-button" id='toolbarSave'><img src="/static/images/save.png" alt="Save Screenplay"></div>
		    <div class="goog-toolbar-button" id='toolbarExport'><img src="/static/images/export.gif" alt="Export Screenplay"></div>
		    <hr>
		    <div class="goog-toolbar-button" id='toolbarUndo'><img src="/static/images/Undo.png" alt="Undo"></div>
		    <div class="goog-toolbar-button" id='toolbarRedo'><img src="/static/images/Redo.png" alt="Redo"></div>
		    <hr>
		    <div class="goog-toolbar-button" id='toolbarInsertNote'><img src="/static/images/note.png" alt="Insert Note"></div>
		    <div class="goog-toolbar-button" id='toolbarSpellcheck'><img src="/static/images/spellcheck.png" alt="SpellCheck"></div>
		    <div class="goog-toolbar-button" id='toolbarEmail'><img src="/static/images/email.gif" alt="Email Screenplay"></div>
		    <hr>
		    <div id="toolbar-font-small" title="Small" class="goog-toolbar-toggle-button goog-toolbar-button-collapse-right"><img src="/static/images/font-small.png" alt="Small Font"></div> 
		    <div id="toolbar-font-medium" title="Medium" class="goog-toolbar-toggle-button goog-toolbar-button-collapse-left goog-toolbar-button-collapse-right"><img src="/static/images/font-medium.png" alt="Medium Font"></div> 
		    <div id="toolbar-font-large" title="Large" class="goog-toolbar-toggle-button goog-toolbar-button-collapse-left"><img src="/static/images/font-large.png" alt="Large Font"></div>
		    <hr> 
		    <select id="format" onchange="changeFormat(this.selectedIndex)">
		      <option>Slugline</option>
		      <option>Action</option>
		      <option>Character</option>
		      <option>Dialog</option>
		      <option>Parenthetical</option>
		      <option>Transition</option>
		    </select>
		    <input id="insertNewNote" type="button" value="Insert New Note" onclick="newThread()"/>
		  </div>
		<canvas class='canvas' id='canvasText'>
    		<div id="no_canvas">
				<h2>Grrr.... Internet!</h2>
				<p>Hey, sorry for this, but basically your browser isn't going to run this very well... at all. But you have options!</p>
				<p>The latest versions of any of these browsers will work for you.</p>
				<table cellspacing=15 style="margin:auto;">
					<tr>
						<td><a href="http://www.google.com/chrome" target="_blank"><img src="/static/images/chrome.jpg" alt="Download Chrome Browser"/></a></td>
						<td><a href="http://www.apple.com/safari/" target="_blank"><img src="/static/images/safari.png" alt="Download Safari Browser"/></a></td>
						<td><a href="http://www.firefox.com" target="_blank"><img src="/static/images/firefox.jpg" alt="Download Firefox Browser"/></a></td>
					</tr>
					<tr>
						<td align="center"><a href="http://www.google.com/chrome" target="_blank">Chrome</a></td>
						<td align="center"><a href="http://www.apple.com/safari/" target="_blank">Safari</a></td>
						<td align="center"><a href="http://www.firefox.com" target="_blank">Firefox</a></td>
					</tr>
				</table>
        
				<p>Or, if you really want to use Internet Explorer, you can use this plug-in to make it work</p>
				<div style="margin-left:80px;"><a href="http://www.google.com/chromeframe/eula.html" target="_blank"><img src="/static/images/chrome-frame.png" alt="Download Chrome Frame for IE"/></a></div>
			</div>
		</canvas>
		<div id="info">
			<table border="0" id='info_table' width="100%">
				<tr>
					<td align='center' width='40%'>Data</td>
					<td align='center' width='30%'>Data</td>
					<td align='center' width='30%'>Data</td>
				</tr>
			</table>
		</div>
		</div>
		  <div id="sidebar">
		    <div id="sidebar-tabs">
		      <ul>
			<li><a href="#tabs-scenes">Scenes</a></li>
			<li><a href="#tabs-notes">Notes</a></li>
		      </ul>
		      <div id="tabs-scenes">
			<div id="sceneBox" class="tabs-content-box"></div>
		      </div>
		      <div id="tabs-notes">
			<div id="noteBox" class="tabs-content-box"></div>
		      </div>
		    </div>
		  </div>
		</div>
	
	<div class="goog-menu" id="fileMenu">
		<div id='new' class="goog-menuitem"><div class="goog-menuitem-icon"><img src="/static/images/new_file.png" alt="Create New Screenplay"></div>New</div>
		<div id='open' class="goog-menuitem">Open</div>
		<hr>
		<div id='rename' class="goog-menuitem">Rename</div>
 		<div id='save' class="goog-menuitem"><div class="goog-menuitem-icon"><img src="/static/images/save.png" alt="Save Screenplay"></div><div id="save-shortcut" class="goog-menuitem-accel">+S</div>Save</div>
		<hr>
		<div id='exportas' class="goog-menuitem"><div class="goog-menuitem-icon"><img src="/static/images/export.gif" alt="Export Screenplay"></div><div id='export-shortcut' class="goog-menuitem-accel">+E</div>Export As...</div>
		<hr>
		<div id='close' class="goog-menuitem">Save and Close</div>
	</div>
	<div class="goog-menu" id="editMenu">
		<div id='undo' class="goog-menuitem">
			<div class="goog-menuitem-icon">
				<img src="/static/images/Undo.png" alt="Undo">
			</div>
			<div id="undo-shortcut" class="goog-menuitem-accel">+S</div>
			Undo
		</div>
		<div id='redo' class="goog-menuitem">
			<div class="goog-menuitem-icon">
				<img src="/static/images/Redo.png" alt="Undo">
			</div>
			<div id="redo-shortcut" class="goog-menuitem-accel">+S</div>
			Redo
		</div>
		<hr>
		<div id='insertNote' class="goog-menuitem">
			<div class="goog-menuitem-icon">
				<img src="/static/images/note.png" alt="Insert Note">
			</div>
			Insert Note
		</div>
		<hr>
		<div id="editTitlePage" class="goog-menuitem">Edit Title Page</div>
		<div id='tag' class="goog-menuitem">Tag Current Version</div>
		<hr>
		<div id='find' class="goog-menuitem"><div id="find-shortcut" class="goog-menuitem-accel">+S</div>Find</div>
		<div id='findReplace' class="goog-menuitem">Find and Replace</div>
		<div id='selectAll' class="goog-menuitem"><div id="selectAll-shortcut" class="goog-menuitem-accel">+S</div>Select All</div>
		<hr>
		<div id='spellCheck' class="goog-menuitem">
			<div class="goog-menuitem-icon">
				<img src="/static/images/spellcheck.png" alt="SpellCheck">
			</div>
			Spell Check
		</div>
		<hr>
		<div id="format0" class="goog-menuitem goog-option">Slugline</div>
		<div id="format1" class="goog-menuitem goog-option">Action</div>
		<div id="format2" class="goog-menuitem goog-option">Character</div>
		<div id="format3" class="goog-menuitem goog-option">Dialog</div>
		<div id="format4" class="goog-menuitem goog-option">Parenthetical</div>
		<div id="format5" class="goog-menuitem goog-option">Transition</div>
	</div>
	<div class="topMenu" id="viewMenu">
		<div id="notes" class="goog-menuitem goog-option goog-option-selected">View Notes</div>
		<div id="revision" class="goog-menuitem">Revision History</div>
		<hr>
		<div id="font-small" class="goog-menuitem goog-option">Font Size Small</div>
		<div id="font-medium" class="goog-menuitem goog-option">Font Size Medium</div>
		<div id="font-large" class="goog-menuitem goog-option">Font Size Large</div>
	</div>
	<div class="topMenu" id="shareMenu">
		<div id='collaborators' class="goog-menuitem">Collaborators</div>
		<div id='email' class="goog-menuitem"><div class="goog-menuitem-icon"><img src="/static/images/email.gif" alt="Email Screenplay"></div>Email PDF</div>
	</div>
	<div id="emailpopup" class="fullscreen_popup">
		<div class="fade"></div>
		<div class="popup_block">
			<div class="popup">
				<a href="javascript:hideEmailPrompt()" class="close"><img src="/static/images/close.png" alt="Close Popup"></a>
				<br>
				Email PDF
				<br /><br />
				<label for="recipient">Recipients (max 5, comma seperated)</label>
				<br />
				<textarea name="recipient" rows="3" id='recipient' class="textbox"></textarea>
				<br />
				<label for="subject">Subject</label>
				<br />
				<input class="textbox" type='text' name='subject' id='subject' />
				<br />
				<label for="message">Message (optional)</label>
				<br />
				<div class="textbox" contentEditable='true' name='message' id='message'></div>
				<br>
				<select id="emailTitle">
					<option>Without title Page</option>
					<option>With title Page</option>
				</select>
				<a href="/titlepage?resource_id={{  resource_id }}" target="_blank" id='titlePageHref'>Edit Title Page</a>
				<br /><br>
				<input type='button' id="emailS" onClick='emailScript()' value='Send' />
				<br />
				<b>Note:</b> you will automatically get a copy yourself
			</div>
		</div>
	</div>
	<div id="spellcheckpopup" class="fullscreen_popup">
		<div class="fade"></div>
		<div class="popup_block" id="sc_popup_block">
			<div class="popup">
				<a href="javascript:hideSpellCheck()" class="close"><img src="/static/images/close.png" alt="Close Popup"></a>
				<br /><br />
				Spell Check
				<br />
				<br />
				<div id="spellCheck">
					<div class="textbox" contentEditable='true' name='sSentance2' id='sSentance2'></div>
					<div id="spellControls">
						<input id="sIgnore" value="Ignore" type="button" onclick="s_ignore()"><br>
						<input id="sIgnoreAll" value="Ignore All" type="button" onclick="s_ignore_all()"><br><br>
						<input id="sChange" value="Change" type="button" onclick="s_change()"><br>
						<input id="sHidden" value ="" type="hidden">
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
	<div id="exportpopup" class="fullscreen_popup"> 
		<div class="fade"></div> 
		<div class="popup_block"> 
			<div class="popup"> 
				<a href="javascript:hideExportPrompt()" class="close"><img src="/static/images/close.png" alt="Close Popup"></a>
				<br /> 
				<p>Export as...</p> 
				<input class='exportList' type="checkbox" checked='true' name="pdf" />   Adobe Pdf<br> 
				<input class='exportList' type="checkbox" name='txt' />   txt file for Celtx or FD
				<br /> <br>
				<select id="et">
					<option>Without title Page</option>
					<option>With title Page</option>
				</select>
				<a href="/titlepage?resource_id={{  resource_id }}" target="_blank">Edit Title Page</a>
				<br><br>
				<input type='button' id="exportS" onClick='exportScripts()' value='Export' /> 
				<br /> 
			</div> 
		</div> 
	</div>
	<div id="sharepopup" class="fullscreen_popup">
		<div class="fade"></div>
		<div class="popup_block">
		<div class="popup">
			<a href="javascript:hideSharePrompt()" class="close"><img src="/static/images/close.png" alt="Close Popup"></a>
			<br>
			Share Script: <b id="shareTitle"></b>
			<br><br>
			<table id="hasAccess" width="350px" cellspacing=0>
			</table><br>
			<span>To be added: (comma seperated)</span><br>
			<textarea rows='3' class="textbox" name='collaborator' id='collaborator'></textarea>
			<br>
			<p>Note: You can only share with Gmail or Yahoo users.</p>
			<input type="checkbox" name="email_notify_share" id="email_notify_share" onchange="emailNotifyShare(this)"><span> </span>Send email to new collaborators<br>
			<input type="checkbox" name="email_notify_msg" id="email_notify_msg" onchange="emailNotifyMsg(this)"><span> </span>Add personal message to email<br>
			<div class="textbox" contentEditable='true' name='share_message' id='share_message'></div>
			<input id="shareS" type='button' onClick='shareScript()' value='Send Invitations' />
			<input type="hidden" value="blank" id="shareResource_id" />
		</div>
	</div>
	</div>
	<div id="find_div">
		<table width="100%">
			<tr>
				<td width="16px" onclick="hideFindPrompt()"><img src="/static/images/find_close.png" style="float:left; cursor:default"></td>
				<td width="46px"><input type="text" name="find_input" value="" id="find_input"></td>
				<td width="16px"><div id="down_find_button" align="center" valign="top" onclick="findDown()"><img src="/static/images/up_button.png"></div></td>
				<td width="16px"><div id="up_find_button" align="center" valign="top" onclick="findUp()"><img src="/static/images/down_button.png"></div></td>
				<td align="right" id="find_number_found">0 found</td>
			</tr>
		</table>
	</div>
	<div id="find_replace_div">
		<table width="100%">
			<tr>
				<td>Find:</td>
				<td align="right" width="20px" onclick="hideFindReplacePrompt()"><img src="/static/images/find_close.png" style="cursor:default"></td>
			</tr>
			<tr><td><input type="text" name="fr_find_input" id="fr_find_input" style="width:240px"></td></tr>
			<tr><td>Replace With:</td></tr>
			<tr><td><input type="text" name="fr_replace_input" id="fr_replace_input" style="width:240px"></td></tr>
			<tr>
				<td>
				<!--<input type="button" name="ReplaceAll" value="Replace All" id="ReplaceAll" style="float:left">-->
				<input type="button" name="Replace" value="Replace" id="Replace" style="float:left" onclick="replaceText()">
				<input type="button" name="ReplaceFind" value="Replace & Find" id="ReplaceFind" style="float:left" onclick="replaceAndFind()">
				<input type="button" name="Next" value="Next" id="Next" style="float:right" onclick="findDown()">
				<input type="button" name="Previous" value="Previous" id="Previous" style="float:right" onclick="findUp()">
				</td>
			</tr>
		</table>
	</div>
	<table width='100%' id='saveError' cellpadding=0 cellspacing=0>
		<tr>
			<td width='35%'></td>
			<td align='center' style='background-color:yellow'>
				<span style='font-family:sans-serif; font-size:10pt'>There was a problem saving your script.<br> Check your internet connection and try again.</span>
			</td>
			<td width='35%'></td>
		</tr>
	</table>
	<textarea id="ccp" style="position:absolute; top:-9999px; left:-9999px;"></textarea>
	{%- if t.MODE == 'DEV' %}
		<script src='/static/closure-library/closure/goog/base.js'></script>
		{%- for file in t.EDITOR_JS %}
			<script src='/static/js/restricted/editor/{{ file }}.js'></script>
		{%- endfor %}
	{%- else %}
		<script src='/static/js/min/editor-compiled.js'></script>
	{%- endif %}
	</body>
</html>
