<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RawScripts - Title Page</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/css/titlepage.css" />
    <link rel="stylesheet" href="static/css/header_nav.css" type="text/css">
    <script src="/static/js/jquery/jquery-1.7.1.min.js"></script>
    <script src="/static/js/jquery/jquery.color.js"></script>
    <script src="/static/js/titlepage/titlepage.js"></script>
    <script>
      var project_id="{{ t.project_id }}";
      var resource_id="{{ t.resource_id }}";
    </script>
</head>
<body>
  {%- include "analytics.html" %}
  <div id="header">
    {%- include "nav.html" %}
    <input id="saveButton" type="button" value="Saved" disabled onclick='save()'>
    <input type="button" value="Close" onclick="closeTitlePage()">
  </div>
  <div id="page">
    <table  id="title_table" width=100%>
      <tr>
	<td></td>
	<td width="20%"></td>
	<td id='title_editable' class="editable" width="60%"  align="center" contentEditable='true'>{{ t.data.title|safe }}</td>
	<td width="20%">
	<td></td>
      </tr>
    </table>
    <table id="written_by_table" width=100%>
      <tr>
	<td width="20%"></td>
	<td id="written_by_editable" class="editable" width="60%"  align="center" contentEditable='true' valign="top">{{ t.data.written_by|safe }}</td>
	<td width="20%"></td>
      </tr>
    </table>
    <div id="bottom_third_divider"></div>
    <table id="bottom_third_table" width="100%">
      <tr>
	<td width="10%"></td>
	<td id="left_editable" class="editable" width="35%" contentEditable='true' valign="top">{{ t.data.left_editable|safe }}</td>
	<td width="10%"></td>
	<td id="right_editable" class="editable" width="35%" contentEditable='true' valign="top">{{ t.data.right_editable|safe }}</td>
	<td width="10%"></td>
      </tr>
    </table>
  </div>
  <!--
  {%- if t.MODE == 'DEV' %}
  <script src="static/closure-library/closure/goog/base.js" type="text/javascript"></script>
  <script src="static/js/restricted/titlepage/base.js" type="text/javascript"></script>
  <script src="static/js/restricted/titlepage/titlepage.js" type="text/javascript"></script>
  {% else %}
  <script src="static/js/min/titlepage-compiled.js" type="text/javascript"></script>
  {% endif %}-->
</body>
</html>
