/**
 * Rawscripts - Screenwriting Software
 * Copyright (C) Ritchie Wilson
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body{padding:0; margin:0;height:100%; overflow:hidden; background-color:#ccc; font-size:62.5%}
html{height:100%; margin:0; padding:0; overflow:hidden;}
img{border:none;}
td{padding:0;}
td a{
	color: black;
	text-decoration:none;
}

.fade{
	background:#fff; 
	opacity:0.5; 
	height:100%; 
	width:100%; 
	position:fixed;
}
.popup_block{
	background:#7694D8; 
	width:425px; 
	position:relative; 
	margin:auto; 
	top:20%; 
	padding:10px; 
	border:double;
}
.popup{
	font-family:sans-serif;
	font-size:10pt;
}
.close{
	position:absolute;
	top:-15px;
	right:-15px;
}
#loading_span{
	font-family:sans-serif; 
	font-weight:200; 
	font-size:18pt;
}
#container{
	width:100%; 
	height:100%; 
	margin:0; 
	padding:0;
}
#header{
	padding:0px;
	width:100%;
}

#titleBar{
	height:40px;
	background-color:#6484DF;
}
#title{
	font-size:18pt;
	padding:2px;
	margin:3px;
	text-shadow: 1px 1px 1px #999;
	float:left;
	cursor:text;
}
#toolBar{
	font-family:sans-serif;
	font-size:10pt;
	background-color:#A2BAE9; 
	width:100%;
	border-top:1px #000 solid;
	border-bottom:1px #aaa solid;
	padding:0;
}
#menu{
	padding-top:0px;
	background-color:#A2BAE9;
}
.menuItem{
	margin-top:0px;
	padding: 4px 7px 4px 7px;
	cursor:pointer;
}
#saveButton{
	visibility:hidden; 
	margin-right:50px;
}
#gtb{
	visibility:hidden; 
	border-bottom:1px #999 solid;
	width:100%;
	overflow:auto;
}
#insertNewNote{
    float:right;
    margin-right:40px;
}
#format{
	margin-top:2px; 
	margin-left:120px;
}
#main{
    position: relative;
    height:100%;
    visibility:hidden;
}
#editor{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:328px;
    overflow:hidden;
}
#canvas{
	float:left; 
	cursor:text;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:454px;
}
#no_canvas{
	background-color:white; 
	width:400px; 
	margin:auto; 
	padding:100px; 
	padding-top:50px;
}
#info{
	border-style:ridge;
	border-width:2px;
	border-color:#ccc;
	position:absolute;
	bottom:0px;
	left:1px;
	right:1px;
	background-color:#ccc;
	font-family:sans-serif;
	font-size:10pt;
}
#sidebar{
    float:right;
    width:320px; 
    border:2px ridge; 
    background-color:white;
    height:100%;
}
.tabs-content-box{
	position:absolute; 
	right:0; 
	left:0; 
	top: 35px; 
	bottom:8px; 
	overflow:auto;
}
.sceneItem{
	font-family:Courier; 
	font-size:10pt;
	margin: 0px 0px 0px 10px; 
	cursor:pointer;
}

.noteListUnit{
	background-color:Khaki;
	padding:4px;
	margin:8px 12px;
	font-size:10pt;
	cursor:pointer;
	border:1px #666 solid;
}
.fullscreen_popup{
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	position:absolute;
	visibility: hidden;
	z-index:100;
}
#loading{
	visibility:visible;
}
.textbox{  
	font-size:10pt;  
	background-color:white; 
	border-style:inset; 
	border-width:2px;
	font-family:Verdana, Geneva, sans-serif;
	width:400px;
}
#message{
	height:110px;
	overflow:auto;
}
#sc_popup_block{
	width:500px; 
	height:220px;
}
#sSentance{
	width:235px; 
	height:220px; 
	overflow:auto; 
	float:left;
	font-size:1em;
}
#sSuggest{
	width:120px; 
	height:220px; 
	background-color:white; 
	float:left; 
	border:2px inset; 
	margin-left:10px;
}
#spellControls{
	float:left; 
	margin-left:10px;
	width:150px;
}
.spellcheck_button{
    width:100%;
}
.spellcheckitem{
    font-size:1em;
    cursor:pointer;
}
.spellcheckitem:hover{
    background-color:lightBlue;
}
.spellcheckitem-selected, .spellcheckitem-selected:hover{
    background-color:#3F5EA6;
    font-weight:bold;
    color:white;
}
#sIgnore{
	width:100px;
}
#sIgnoreAll{
	width:100px;
}
#sChange{
	width:100px;
}
#newScript{
	width:350px;
}
#renameField{
	width:350px;
}
.exportList{
	margin-left:5px; 
	margin-right:10px;
}
#share_message{
	width:400px; 
	height:80px; 
	overflow:auto; 
	display:none;
}
#saveError{
	position:fixed; 
	top:0px; 
	display:none;
}

#context_menu{
	background-color:white;
	border-right:1px #666 solid;
	border-bottom:1px #666 solid;
	border-top:1px #aaa solid;
	border-left:1px #aaa solid;
}
.contextUnit{
	font-family:sans-serif;
	font-size:10pt;
	padding:3px 20px 3px 15px;
	cursor:pointer;
}
.contextUnit:hover{
	background-color:LightSkyBlue
}

#find_div{
	position:fixed; 
	top:96px; 
	right:350px;
	padding:2px;
	background-color:#f0f0f0;
	border:1px #999 solid;
	border-top:none;
	width:300px;
	display:none;
}
#find_replace_div{
	position:fixed; 
	top:96px; 
	right:350px;
	padding:2px;
	background-color:#f0f0f0;
	border:1px #999 solid;
	border-top:none;
	width:320px;
	display:none;
	font-family:sans-serif;
	font-size:10pt;
}
#find_input{
	float:left;
}
#down_find_button, #up_find_button{
	float:left;
	width:16px;
	height:16px;
}
#find_number_found{
	margin-top:3px;
	font-family:sans-serif;
	color:#666;
	font-size:10pt;
	float:right;
}

.noteMessage{
	background-color:lightYellow;
	font-family:sans-serif;
	font-size:10pt;
	padding:3px;
	margin:3px;
	border:1px #aaa solid;
}
.noteMessageUnread{
	background-color:Salmon;
	font-family:sans-serif;
	font-size:10pt;
	padding:3px;
	margin:3px;
	border:1px #aaa solid;
	cursor:pointer;
}
.modal-dialog{
	width:475px;
}
.modal-dialog-content{
	overflow:auto;
	max-height:500px;
}
.messageEditBox{
	width:100%;
	height:200px;
	border: 1px Grey solid;
}
.noteControls{
	color:#06c;
	cursor:pointer;
}