/**
 * Rawscripts - Screenwriting Software
 * Copyright (C) Ritchie Wilson
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@charset "UTF-8";
/* CSS Document */
img { border:none; }
tr {border:1px #999999 solid; width:90%}
td {
    border:none
    font-family:sans-serif;
    font-size:10pt;
}
body{
	margin:0; 
	padding:0;
	font: 62.5% sans-serif;
}
div{
    margin:0;
}


#logo { 
	float: left; 
	/*background: url(../images/bluebg.png) repeat-x; */
	padding: 20px 25px 0px; 
	margin: 0px 20px 10px; 
	-webkit-box-shadow:0px 3px 6px #666;
	-moz-box-shadow:0px 3px 6px #666;
	box-shadow:0px 3px 6px #666;
	background-color:#36c;
}
#logo h1{
	text-shadow: 1px 1px 1px #003399; 
	font-family:Courier; 
	color: #fff; 
	font-size: 2.2em; 
	text-decoration:none;
	font-weight:normal;
}

#option_bar{
	width:100%; 
	clear:both; 
	background-color:#6490E6; 
	padding:3px 0; 
	bottom:0; 
	border-top:2px #ccc solid; 
	border-bottom:2px #ccc solid;
}
#static_buttons{
}
#owned_script_buttons{
	display:block;
	margin-left:55px;
}
#move_to_trash{
	margin-left:55px; 
	margin-right:15px;
}
#shared_script_buttons{
	float:left; 
	display:none;
	margin-left:55px;
}
#trash_script_buttons{
	float:left; 
	display:none;
	margin-left:55px;
}
#refresh{
	float:right;
	font-size:12pt;
	margin-right:10px;
}
#refresh a{
	color:#333;
	text-decoration:none;
}
#refresh_icon{
	visibility:visible;
}

#ERROR{
    width: 250px;
    font-family: sans-serif;
    font-size: 10pt;
    left:40%;
    position: fixed;
    display:none;
}
p{
    padding:0;
    margin:5px;
}

/*Standard and User Defined Fodlers (left hand column)*/
#folders_column{
    float:left;
    width:170px;
}

#new_folder{
    margin-bottom:10px;
    margin-left:10%;
    width:80%;
}

.folder{
    font-size:1.3em;
    padding:2px 0 2px 16px;
    cursor:pointer;
}

.folder:hover{
    background-color:#ccf;
    font-weight:normal;
    color:black;
}

.folder-current{
    background-color:#2352AE;
    font-weight:bold;
    color:white;
}

.folder-image{
    padding-right:3px;
}

#user_folders{
    margin-top:20px;
    padding-top:20px;
    border-top:15px #ccc solid;
    width:170px;
}

/* Main Section of the screen, script lists*/
#main{
    position:relative;
    overflow-x:auto;
}

#scriptlists{
    margin-left:170px;
    background-color:#6490E6;
}

#scriptlist_container{
    padding-left:5px;
    position:relative;
}


#scriptlist_header{
	border-bottom:2px #999999 solid; 
	background-color:#ddd;
	height:25px;
}

#list{
    overflow-y:scroll;
    height:400px;
    background-color:white;
}

.none_of_type{
	color:#666; 
	background-color:white; 
	padding-top:17px; 
	display:none;
}
#noentries{
	position:absolute;
	top:30px;
	left:0;
	right:0;
	margin-left:50px;
	margin-right:50px;
	font-size:1.2em;
}
#noentries a {
	color:blue;
	text-decoration:underline;
}

/*A bunch of css describing the look of each script entry*/
.entry{
	display:block;
	border-bottom:1px #999999 solid;
	background-color:#f9f9fc;
}
.handleCell{
    width:7px;
    background-color:#ccc;
    border:1px #aaa solid;
    cursor:move;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.checkboxCell{
	width:15px;
}
.folderCell{
	width:220px;
}
.actionCell{
	width:60px;
}

.action_box{
    display:none;
}

.action{
    padding-right:10px;
    opacity:0.5;
}

.emailLink{
	right:10px;
}
.updatedCell{
	width:160px;
}
.redAlertSpan{
	color:red;
	font-size:small;
	vertical-align:super;
}
a{
	text-decoration:none;
	color:#000;
}
.folder-in-project{
    float:left;
    font-size:0.7em;
	background-color:#E6DD93;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	padding:1px 2px 1px 2px;
	margin-right:2px;
	border:1px #999 solid;
}
.folder-in-project-name{
    float:left;
    padding-right:2px;
}
.folder-in-project-button{
    border-left:1px gray solid;
     float:right;
     height:12px;
     width:12px;
     background-position: -82px -131px;
     cursor:pointer;
}

.title_span{
    font-family:sans-serif;
    font-size:0.9em;
}

.title_cell{
    cursor:pointer;
}