/**
 * Rawscripts - Screenwriting Software
 * Copyright (C) Ritchie Wilson
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

body{
    padding:0;
    margin:0;
    background-color:#666;
    font-family:Courier;
    font-size:10pt;
}
#header{
    background-color:#6484DF;
    padding:5px;
    height:29px;
}
#header_nav {
    font-family:sans-serif;
    font-size:10pt;
    float:right; 
    margin:5px 10px 0 0;
}
#header_nav a{
    color:blue;
}

#page{
    border:1px black solid;
    background-color:white;
    margin: auto;
    margin-top:30px;
    margin-bottom:30px;
    width:544px;
    height:704px;
}
#title_table{
    padding-bottom:18pt;
}  
#title_editable{
    text-decoration:underline;
}

#title_table{
    padding-top:160pt;
}
#bottom_third_divider{
    height:150pt;
}
td{
    font-size:10pt;
}
.editable{
    padding:3pt;
    background-color:#eee;
    border: 1px #d2d2d2 solid;
    border-color: #d2d2d2;
    border-style: solid;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
}
