<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="google-site-verification" content="g6EaCp776BuXUIzQ9vgs9pArmAeHT-Yo0E6kxSFN0l4" />
  <meta name="description" content="Free, online screenplay software. Windows, Mac, and Linux. Edit from any computer, share from your phone, take control of your scripts." />
    <title>RawScripts.com - Free Online Screenplay Editor.</title>
	<link rel="stylesheet" type="text/css" href="css/mobileScreen.css" media="screen" />
	<link rel="shortcut icon" href="/favicon.ico">
   	<style type="text/css">
	#content{
	border-top:1px #333 solid;
	-webkit-box-shadow: 0px 3px 3px #333;
	float:none;
	}
	</style>
  </head>
  <body>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16492540-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="logo">
	<h1><a href="/">RawScripts.com</a></h1>
</div>
<p align="center">Online Screenplay Editing Software.</p>
<br>
<ul id="menu">
	<li><a href="/blog">Blog</a></li>
	<li><a href="http://community.rawscripts.com/RawScripts" target="_blank">Forum</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>
<br><br><br><br>
    <div id="content" align="center">
	      <h2 style="margin-top:0px;">Login with your Google or Yahoo account.</h2>
	      <a name="login" href="{{  google_sign_in  }}"><img src="images/GoogleB.png" alt="Login With Your Google Account" /></a>
			<a name="login" href="{{  yahoo_sign_in  }}"><img src="images/YahooB.png" alt="Login With Your Yahoo Account" /></a><br><br><r></r>
    </div>
  </body>
</html>
